In [1]:
s = {}

In [2]:
type(s)

dict

In [3]:
s1 = {4,5,6,7,8,89,9}

In [4]:
type(s1)

set

In [5]:
s2 = {4,5,56,6,7,45.67 ,45+7j , True , "sudh"}

In [6]:
s2

{(45+7j), 4, 45.67, 5, 56, 6, 7, True, 'sudh'}

In [7]:
s3 = {4,5,5,5,55,5,5,55,5,5,5}

In [8]:
s3

{4, 5, 55}

In [9]:
s3[0]

TypeError: 'set' object is not subscriptable

In [10]:
l3 = list(s3)

In [11]:
l3

[4, 5, 55]

In [13]:
l4 = [4,5,6,7,7,8,89,99,5,6,6,7,8]

In [14]:
s4 = set(l4)

In [15]:
s4

{4, 5, 6, 7, 8, 89, 99}

In [16]:
list(s4)

[99, 4, 5, 6, 7, 8, 89]

In [17]:
tuple(s4)

(99, 4, 5, 6, 7, 8, 89)

In [18]:
s5 = {"Sudh" , "sudh"}

In [19]:
s5

{'Sudh', 'sudh'}

In [21]:
s6 = {45.67, 4,5,6,7,7,7,7,7,4,3,2,34,67,"sudh" ,"euron" , True , False}

In [22]:
s6

{2, 3, 34, 4, 45.67, 5, 6, 67, 7, False, True, 'euron', 'sudh'}

In [23]:
d = {"name" :"sudhanshu","class":"python eng 8.45 AM IST "}

In [24]:
d

{'name': 'sudhanshu', 'class': 'python eng 8.45 AM IST '}

In [25]:
d[0]

KeyError: 0

In [26]:
l = [3,4,5]

In [27]:
d

{'name': 'sudhanshu', 'class': 'python eng 8.45 AM IST '}

In [28]:
d["name"]

'sudhanshu'

In [29]:
d['class']

'python eng 8.45 AM IST '

In [30]:
d1 = {0:[3,4,5,6,6] , "xyz" :(3,4,5,6,7) ,True: {4,5,6,7,7,5,5,4} ,"company name" :"euron" ,
       "class" :["python hindi and eng ","gen ai hindi and eng" , "mlops eng"]}

In [31]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': (3, 4, 5, 6, 7),
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['python hindi and eng ', 'gen ai hindi and eng', 'mlops eng']}

In [32]:
d1["xyz"]

(3, 4, 5, 6, 7)

In [33]:
d1[0]

[3, 4, 5, 6, 6]

In [34]:
d1[True]

{4, 5, 6, 7}

In [35]:
d1 = {0:[3,4,5,6,6] , "xyz" :(3,4,5,6,7) ,True: {4,5,6,7,7,5,5,4} ,"company name" :"euron" ,
       "class" :["python hindi and eng ","gen ai hindi and eng" , "mlops eng"],"xyz" : "sudhanshu"}

In [36]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': 'sudhanshu',
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['python hindi and eng ', 'gen ai hindi and eng', 'mlops eng']}

In [38]:
d1["xyz"] = "amrendra"

In [39]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': 'amrendra',
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['python hindi and eng ', 'gen ai hindi and eng', 'mlops eng']}

In [46]:
s= "eurondfasasfwre"

In [41]:
s.capitalize()

'Euron'

In [44]:
s.center(50,"*")

'**********************euron***********************'

In [50]:
s.count('su')

0

In [47]:
s

'eurondfasasfwre'

In [54]:
s.find('z')

-1

In [56]:
s.index('z')

ValueError: substring not found

In [57]:
s = "sudhanshu kumar singh"

In [58]:
s.capitalize()

'Sudhanshu kumar singh'

In [59]:
s.title()

'Sudhanshu Kumar Singh'

In [62]:
s.isalnum()

False

In [63]:
s

'sudhanshu kumar singh'

In [64]:
s1= "euron"

In [65]:
s1.isalnum()

True

In [66]:
s.istitle()

False

In [67]:
s

'sudhanshu kumar singh'

In [68]:
l = [3,4,5,6,6,"python" ,"data scinece " ]

In [69]:
l.append([4,5,6])

In [70]:
l

[3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6]]

In [71]:
l.append("sudh")

In [72]:
l

[3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [73]:
l.clear()

In [74]:
l

[]

In [75]:
l = [3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [76]:
l

[3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [77]:
l1 = l

In [78]:
l1

[3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [79]:
l

[3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [80]:
l2 = l.copy()

In [81]:
l2

[3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [82]:
l

[3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [83]:
l1

[3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [84]:
l2

[3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [85]:
l1[0] = "euron"

In [86]:
l1

['euron', 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [87]:
l

['euron', 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [89]:
l2

[3, 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [90]:
l2[3] = "xyz"

In [91]:
l2

[3, 4, 5, 'xyz', 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [92]:
l1

['euron', 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [93]:
l

['euron', 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh']

In [95]:
l.count(50)

0

In [96]:
l.append("abcd")

In [97]:
l

['euron', 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh', 'abcd']

In [101]:
l.extend("sudh")

In [99]:
l.append(7)

In [100]:
l

['euron', 4, 5, 6, 6, 'python', 'data scinece ', [4, 5, 6], 'sudh', 'abcd', 7]

In [102]:
l

['euron',
 4,
 5,
 6,
 6,
 'python',
 'data scinece ',
 [4, 5, 6],
 'sudh',
 'abcd',
 7,
 's',
 'u',
 'd',
 'h']

In [103]:
l.extend([4,5,6,7])

In [104]:
l

['euron',
 4,
 5,
 6,
 6,
 'python',
 'data scinece ',
 [4, 5, 6],
 'sudh',
 'abcd',
 7,
 's',
 'u',
 'd',
 'h',
 4,
 5,
 6,
 7]

In [105]:
l.index(5)

2

In [106]:
l.pop()

7

In [107]:
l

['euron',
 4,
 5,
 6,
 6,
 'python',
 'data scinece ',
 [4, 5, 6],
 'sudh',
 'abcd',
 7,
 's',
 'u',
 'd',
 'h',
 4,
 5,
 6]

In [108]:
l.pop()

6

In [109]:
l

['euron',
 4,
 5,
 6,
 6,
 'python',
 'data scinece ',
 [4, 5, 6],
 'sudh',
 'abcd',
 7,
 's',
 'u',
 'd',
 'h',
 4,
 5]

In [110]:
l.pop()

5

In [111]:
l

['euron',
 4,
 5,
 6,
 6,
 'python',
 'data scinece ',
 [4, 5, 6],
 'sudh',
 'abcd',
 7,
 's',
 'u',
 'd',
 'h',
 4]

In [112]:
l.pop(0)

'euron'

In [113]:
l

[4,
 5,
 6,
 6,
 'python',
 'data scinece ',
 [4, 5, 6],
 'sudh',
 'abcd',
 7,
 's',
 'u',
 'd',
 'h',
 4]

In [114]:
l.pop(4)

'python'

In [115]:
l

[4,
 5,
 6,
 6,
 'data scinece ',
 [4, 5, 6],
 'sudh',
 'abcd',
 7,
 's',
 'u',
 'd',
 'h',
 4]

In [116]:
l.pop(4)

'data scinece '

In [117]:
l

[4, 5, 6, 6, [4, 5, 6], 'sudh', 'abcd', 7, 's', 'u', 'd', 'h', 4]

In [119]:
l.remove('sudh')

In [120]:
l

[4, 5, 6, 6, [4, 5, 6], 'abcd', 7, 's', 'u', 'd', 'h', 4]

In [121]:
l.append("sudh")

In [122]:
l

[4, 5, 6, 6, [4, 5, 6], 'abcd', 7, 's', 'u', 'd', 'h', 4, 'sudh']

In [123]:
l.insert(1, [3,4,5])

In [124]:
l

[4, [3, 4, 5], 5, 6, 6, [4, 5, 6], 'abcd', 7, 's', 'u', 'd', 'h', 4, 'sudh']

In [125]:
l.reverse()

In [126]:
l

['sudh', 4, 'h', 'd', 'u', 's', 7, 'abcd', [4, 5, 6], 6, 6, 5, [3, 4, 5], 4]

In [127]:
l[::-1]

[4, [3, 4, 5], 5, 6, 6, [4, 5, 6], 'abcd', 7, 's', 'u', 'd', 'h', 4, 'sudh']

In [128]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [129]:
l1 = [4,5,6,23,3,6,7,6,56,5,6]

In [130]:
l1.sort()

In [132]:
t = (4,5,6,7,8,9,0,2,3,4)

In [134]:
s2

{(45+7j), 4, 45.67, 5, 56, 6, 7, True, 'sudh'}

In [135]:
s2.add(345)

In [136]:
s2

{(45+7j), 345, 4, 45.67, 5, 56, 6, 7, True, 'sudh'}

In [137]:
s2.clear()

In [138]:
s2

set()

In [139]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': 'amrendra',
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['python hindi and eng ', 'gen ai hindi and eng', 'mlops eng']}

In [140]:
d1.keys()

dict_keys([0, 'xyz', True, 'company name', 'class'])

In [141]:
list(d1.keys())

[0, 'xyz', True, 'company name', 'class']

In [142]:
d1.values()

dict_values([[3, 4, 5, 6, 6], 'amrendra', {4, 5, 6, 7}, 'euron', ['python hindi and eng ', 'gen ai hindi and eng', 'mlops eng']])

In [144]:
list(d1.items())

[(0, [3, 4, 5, 6, 6]),
 ('xyz', 'amrendra'),
 (True, {4, 5, 6, 7}),
 ('company name', 'euron'),
 ('class', ['python hindi and eng ', 'gen ai hindi and eng', 'mlops eng'])]

In [145]:
d1.pop()

TypeError: pop expected at least 1 argument, got 0

In [146]:
d1.pop('class')

['python hindi and eng ', 'gen ai hindi and eng', 'mlops eng']

In [147]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': 'amrendra',
 True: {4, 5, 6, 7},
 'company name': 'euron'}

In [149]:
d1.popitem()

('company name', 'euron')

In [151]:
d1.update({"comapny":"india"})

In [152]:
d1

{0: [3, 4, 5, 6, 6], 'xyz': 'amrendra', True: {4, 5, 6, 7}, 'comapny': 'india'}

In [153]:
d1["bnm"] = "sdfsfasdfasfd"

In [154]:
d1

{0: [3, 4, 5, 6, 6],
 'xyz': 'amrendra',
 True: {4, 5, 6, 7},
 'comapny': 'india',
 'bnm': 'sdfsfasdfasfd'}

In [155]:
d1.keys()

dict_keys([0, 'xyz', True, 'comapny', 'bnm'])

In [ ]:
Strings
Write a Python program to check if a given string starts with a specific substring using an inbuilt method.
Find the index of the first occurrence of the substring "Python" in the string "I am learning Python programming".
Convert the string "hello world" to uppercase using an inbuilt method.
Replace all occurrences of "cat" with "dog" in the string "The cat sat on the cat mat".
Write a Python program to count the number of times the letter 'a' appears in the string "banana".
Extract the substring "World" from the string "Hello, World!" using slicing.
Reverse the string "Python" using slicing.
Write a program to remove leading and trailing whitespaces from the string " Hello World ".
Check if the string "abc123" is alphanumeric using an inbuilt method.
Split the string "apple,banana,cherry" into a list of words using an inbuilt method.


Lists
Write a Python program to append the number 5 to the list [1, 2, 3, 4] using an inbuilt method.
Remove the element "banana" from the list ["apple", "banana", "cherry"].
Insert the element "orange" at index 1 in the list ["apple", "cherry"].
Find the index of the number 3 in the list [1, 2, 3, 4, 5].
Reverse the list [1, 2, 3, 4] using an inbuilt method.
Write a Python program to slice and print the first three elements of the list [10, 20, 30, 40, 50].
Sort the list [5, 2, 9, 1, 5] in ascending order using an inbuilt method.
Write a program to count the number of times the number 5 appears in the list [5, 1, 5, 2, 5, 3].
Concatenate the lists [1, 2] and [3, 4] and print the resulting list.
Check if the element "kiwi" exists in the list ["apple", "banana", "cherry"] using an inbuilt method.


Dictionaries
Write a Python program to add a new key-value pair "age": 25 to the dictionary {"name": "John"}.
Retrieve the value associated with the key "name" from the dictionary {"name": "Alice", "age": 30}.
Remove the key "age" from the dictionary {"name": "Bob", "age": 45} using an inbuilt method.
Write a program to list all the keys in the dictionary {"name": "Emma", "age": 28, "city": "New York"}.
Use an inbuilt method to check if the key "city" exists in the dictionary {"name": "Mia", "age": 35}.
Write a Python program to get all the values in the dictionary {"a": 10, "b": 20, "c": 30}.
Update the dictionary {"name": "Liam"} with another dictionary {"age": 40} using an inbuilt method.
Count the total number of key-value pairs in the dictionary {"x": 1, "y": 2, "z": 3}.
Clear all items in the dictionary {"fruit": "apple", "color": "red"} using an inbuilt method.
Write a Python program to create a dictionary from two lists ["name", "age"] and ["John", 30].



Tuples
Write a program to access the second element of the tuple (10, 20, 30, 40).
Create a tuple with a single element 5 and verify its type.
Use slicing to print the last three elements of the tuple (1, 2, 3, 4, 5, 6).
Concatenate the tuples (1, 2) and (3, 4) and print the result.
Find the index of the element 50 in the tuple (10, 20, 30, 50, 40).
Count the number of times the element 10 appears in the tuple (10, 20, 10, 40, 10).
Write a Python program to check if the element 25 exists in the tuple (15, 25, 35).
Convert the tuple (1, 2, 3) into a list using an inbuilt method.
Write a Python program to sort the tuple (5, 1, 3, 2, 4) and print it as a sorted list.
Create a tuple by repeating the elements of (1, 2) three times using the multiplication operator.