In [1]:
s={}

In [2]:
type(s)

dict

In [5]:
s1={2,4,5,9}

In [7]:
type(s1)

set

In [8]:
s2={2,4,5,6,8+2j,"yatish durga"}

In [9]:
s2

{(8+2j), 2, 4, 5, 6, 'yatish durga'}

In [10]:
s3={2,3,3,4,4,55,55,55,53}

In [11]:
s3

{2, 3, 4, 53, 55}

In [12]:
s3[0]

TypeError: 'set' object is not subscriptable

In [13]:
l4=list(s3)

In [14]:
l4

[2, 3, 4, 53, 55]

In [15]:
l4=[4,3,3,3,4,5,6,7,8,9]

In [23]:
s4=set(l4) #type casting function

In [22]:
tuple(s4)

(3, 4, 5, 6, 7, 8, 9)

In [24]:
list(s4)

[3, 4, 5, 6, 7, 8, 9]

In [25]:
s5={"Yatish",'yatish'}

In [26]:
s5 # set is a unorder collection of unique data

{'Yatish', 'yatish'}

In [27]:
s6={45,5,3,6,7,7,88,90,"yatish",True,False}

In [28]:
s6

{3, 45, 5, 6, 7, 88, 90, False, True, 'yatish'}

In [29]:
d={"name":"yatish","classs":"python"}

In [31]:
d

{'name': 'yatish', 'classs': 'python'}

In [33]:
d["name"]

'yatish'

In [34]:
d1={0:[2,3,4,5,6,],"xyz":(3,4,5,6,7,8),True:{4,4,5,5,6,6,7,88,9},"company name":"euron"}

In [35]:
d1

{0: [2, 3, 4, 5, 6],
 'xyz': (3, 4, 5, 6, 7, 8),
 True: {4, 5, 6, 7, 9, 88},
 'company name': 'euron'}

In [38]:
d1["xyz"]="yatish"

In [39]:
d1

{0: [2, 3, 4, 5, 6],
 'xyz': 'yatish',
 True: {4, 5, 6, 7, 9, 88},
 'company name': 'euron'}

In [40]:
s="yatish"

In [41]:
s.capitalize()

'Yatish'

In [45]:
s.center(10)

'  yatish  '

In [46]:
s.title()

'Yatish'

In [50]:
s1= "euron"

In [52]:
s.isalnum()

True

In [53]:
s1.istitle()

False

In [56]:
l=[2,3,4,5,6,"yatish","satish","datascience"]

In [58]:
l.append("name")

In [59]:
l

[2, 3, 4, 5, 6, 'yatish', 'satish', 'datascience', 'name']

In [61]:
l.extend([4,5,6])

In [62]:
l

[2, 3, 4, 5, 6, 'yatish', 'satish', 'datascience', 'name', 4, 5, 6]

In [63]:
l.index(5)

3

In [64]:
l.pop()

6

In [65]:
l.pop()

5

In [66]:
l.insert(1,"[23,4,5]")

In [67]:
l

[2, '[23,4,5]', 3, 4, 5, 6, 'yatish', 'satish', 'datascience', 'name', 4]

In [68]:
l.reverse()

In [69]:
l

[4, 'name', 'datascience', 'satish', 'yatish', 6, 5, 4, 3, '[23,4,5]', 2]

In [72]:
l[::-1]

[2, '[23,4,5]', 3, 4, 5, 6, 'yatish', 'satish', 'datascience', 'name', 4]